<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>数字记忆</title>
    <link href="/css/weui.min.css" rel="stylesheet">
    <script src="/js/weui.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">记忆</div>
            <div class="weui-navbar__item">组词</div>
            <div class="weui-navbar__item">填数</div>
            <div class="weui-navbar__item">设置</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                已学习：
                <div class="history-num">
                    <span v-for="item,index in history" @click="showImg(item)">
                        <template v-if="(index+1)%10===0">
                            <br>{{item}}
                        </template>
                        <template v-else>
                            {{item}}
                        </template>
                    </span>
                </div>

                <div class="header" style="display: block;">
                    <a href="javascript:;" @click="getNextNum()" class="weui-btn weui-btn_default"
                       style="font-size: 64px">{{ num }}</a>
                    <a href="javascript:;" @click="showTip()" class="weui-btn weui-btn_mini weui-btn_warn">提示</a>
                    <label for="switchCP" class="weui-switch-cp">
                        <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked"/>
                        <div class="weui-switch-cp__box"></div>
                    </label>

                    <div class="img" v-if="isShow">
                        <img :src="'/img/numemo/pic-'+num+'.jpg'" :alt="num">
                    </div>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class="header" style="display: block;">
                    <a href="javascript:;" @click="getNext2Num()" class="weui-btn weui-btn_default"
                       style="font-size: 64px">{{ num1+ ' ' +num2 }}</a>
                    <a href="javascript:;" @click="showTip()" class="weui-btn weui-btn_mini weui-btn_warn">提示</a>
                    <div class="img" v-if="isShow">
                        <img :src="'/img/numemo/pic-'+num1+'.jpg'" :alt="num1">
                        <img :src="'/img/numemo/pic-'+num2+'.jpg'" :alt="num2">
                    </div>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class="weui-cells__title">填数 看图 造句</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">数字</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入一个数字" v-model="inputNum"/>
                        </div>
                    </div>
                    <div class="img">
                        <template v-if="inputImgs.length>0" v-for="imgNo in inputImgs">
                            <img :src="'/img/numemo/pic-'+imgNo+'.jpg'" :alt="imgNo">
                        </template>
                    </div>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class=weui-cells__title>设置组词数量</div>
                <div class="weui-cells weui-cells_radio">
                    <label class="weui-cell weui-check__label" for="x11">
                        <div class="weui-cell__bd"><p>2</p></div>
                        <div class="weui-cell__ft"><input type="radio" class="weui-check" name="radio1" id="x11" :checked="{checked:SettingCount===2}"/><span class="weui-icon-checked"></span></div>
                    </label>
                    <label class="weui-cell weui-check__label" for="x12">
                        <div class="weui-cell__bd"><p>3</p></div>
                        <div class="weui-cell__ft"><input type="radio" name="radio1" class="weui-check" id="x12" :checked="{checked:SettingCount===3}"/><span class="weui-icon-checked"></span>
                        </div>
                    </label>
                    <label class="weui-cell weui-check__label" for="x13">
                        <div class="weui-cell__bd"><p>4</p></div>
                        <div class="weui-cell__ft"><input type="radio" name="radio1" class="weui-check" id="x13" :checked="{checked:SettingCount===4}"/><span class="weui-icon-checked"></span>
                        </div>
                    </label>
                </div>

                <div class=weui-cells__title>开关组</div>
                <div class="weui-cells weui-cells_radio">
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">图片/文字</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" :checked="{checked:SettingIsPic}"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">一直显示图片</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" checked=""/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">显示提示按钮</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox"/>
                        </div>
                    </div>
                </div>
                <div class="weui-cells__title">所有功能</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/numemo/">
                        <div class="weui-cell__bd">
                            <p>数字记忆</p>
                        </div>
                        <div class="weui-cell__ft">numemo</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/numemo/word">
                        <div class="weui-cell__bd">
                            <p>组词</p>
                        </div>
                        <div class="weui-cell__ft">word</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var currNum = 0;
    var historyCache = [];
    var app = new Vue({
        el: '#app',
        data: {
            num: '100',
            history: [],
            alwayShow: false,
            isShow: false,
            num1: '11',
            num2: '12',
            inputNum: Math.ceil(Math.random()*10000000),
            SettingCount: 3,
            SettingIsPic: true,
            SettingAlwaysPic: false,
            SettingHitBtn: false
        },
        methods: {
            test: function (inputNum) {
                var ret = [];
                if (inputNum < 10) {
                    ret[0] = inputNum;
                    console.log(ret);
                    return ret;
                }
                var array = (inputNum + "").split("");
                var j = 0;
                for (var i = 0; i < array.length; i = i + 2) {
                    if (array[i] && array[i + 1]) {
                        ret[j] = parseInt(array[i]) * 10 + parseInt(array[i + 1])
                    } else if (array[i]) {
                        ret[j] = parseInt(array[i]);
                    }
                    j++;
                }
                console.log(ret);
                return ret;
            },
            getNextNum: function () {
                if (this.isShow) {
                    this.isShow = false;
                }
                currNum = this._random();
                this.history = historyCache;
                historyCache.unshift(currNum);
                this.num = currNum;
            },
            showImg: function (item) {
                this.num = item;
                this.isShow = true;
            },
            showTip: function () {
                this.isShow = !this.isShow;
            },
            _random: function () {
                return Math.ceil(Math.random() * 100);
            },
            getNext2Num: function () {
                this.num1 = this._random();
                this.num2 = this._random();
            }
        },
        computed: {
            inputImgs: function () {
                var ret = [];
                var input = this.inputNum;
                if (input === "") {
                    return ret;
                }
                for (var i = 0, j = 0; i < input.length; i = i + 2, j++) {
                    var end = input.length < i + 2 ? input.length : i + 2;
                    //console.log("'%s'.substring(%d, %d)=%s", input, i, end, input.substring(i, end));
                    ret[j] = input.substring(i, end);
                }
                return ret;
            }
        },
        beforeCreate: function () {
            console.group('beforeCreate 创建前状态===============》');
            console.log("%c%s", "color:red" , "el     : " + this.$el); //undefined
            console.log("%c%s", "color:red","data   : " + this.$data); //undefined
            console.log("%c%s", "color:red","message: " + this.message)
        },
        created: function () {
            console.group('created 创建完毕状态===============》');
            console.log("%c%s", "color:red","el     : " + this.$el); //undefined
            console.log("%c%s", "color:red","data   : " + this.$data); //已被初始化
            console.log("%c%s", "color:red","message: " + this.message); //已被初始化
        },
        beforeMount: function () {
            console.group('beforeMount 挂载前状态===============》');
            console.log("%c%s", "color:red","el     : " + (this.$el)); //已被初始化
            console.log(this.$el);
            console.log("%c%s", "color:red","data   : " + this.$data); //已被初始化
            console.log("%c%s", "color:red","message: " + this.message); //已被初始化
        },
        mounted: function () {
            console.group('mounted 挂载结束状态===============》');
            console.log("%c%s", "color:red","el     : " + this.$el); //已被初始化
            console.log(this.$el);
            console.log("%c%s", "color:red","data   : " + this.$data); //已被初始化
            console.log("%c%s", "color:red","message: " + this.message); //已被初始化
        },
        beforeUpdate: function () {
            console.group('beforeUpdate 更新前状态===============》');
            console.log("%c%s", "color:red","el     : " + this.$el);
            console.log(this.$el);
            console.log("%c%s", "color:red","data   : " + this.$data);
            console.log("%c%s", "color:red","message: " + this.message);
        },
        updated: function () {
            console.group('updated 更新完成状态===============》');
            console.log("%c%s", "color:red","el     : " + this.$el);
            console.log(this.$el);
            console.log("%c%s", "color:red","data   : " + this.$data);
            console.log("%c%s", "color:red","message: " + this.message);
        },
        beforeDestroy: function () {
            console.group('beforeDestroy 销毁前状态===============》');
            console.log("%c%s", "color:red","el     : " + this.$el);
            console.log(this.$el);
            console.log("%c%s", "color:red","data   : " + this.$data);
            console.log("%c%s", "color:red","message: " + this.message);
        },
        destroyed: function () {
            console.group('destroyed 销毁完成状态===============》');
            console.log("%c%s", "color:red","el     : " + this.$el);
            console.log(this.$el);
            console.log("%c%s", "color:red","data   : " + this.$data);
            console.log("%c%s", "color:red","message: " + this.message)
        }
    })
    var tabIndex = localStorage.getItem("tabIndex");
    weui.tab('#tab', {
        defaultIndex: tabIndex ? tabIndex : 0,
        onChange: function (index) {
            localStorage.setItem("tabIndex", index);
        }
    });

</script>
</body>
</html>