<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>数字记忆</title>
    <link href="/css/weui.min.css" rel="stylesheet">
    <script src="/js/weui.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <style>
        .img img{
            width: 150px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">记忆</div>
            <div class="weui-navbar__item">组词</div>
            <div class="weui-navbar__item">填数</div>
            <div class="weui-navbar__item">设置</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">

                <div class="header" style="display: block;">
                    <a href="javascript:;" @click="getNextNum()" class="weui-btn weui-btn_default"
                       style="font-size: 64px">{{ num }}</a>
                    <template v-if="!SettingAlwaysPic">
                        <a href="javascript:;" @click="showTip()" class="weui-btn weui-btn_mini weui-btn_warn" v-if="SettingHitBtn">提示</a>
                    </template>
                    <div class="img" v-if="SettingAlwaysPic || isShow">
                        <img :src="'/img/numemo/pic-'+num+'.jpg'" :alt="num">
                    </div>
                </div>
                已学习：
                <div class="history-num">
                    <template v-for="item,index in history">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" @click="showImg(item)">{{item}}</a>
                        <template v-if="(index+1)%10===0"><br></template>
                    </template>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class="header" style="display: block;">
                    <a href="javascript:;" @click="getNext2Num()" class="weui-btn weui-btn_default"
                       style="font-size: 64px">{{ num1+ ' ' +num2 }}</a>
                    <template v-if="!SettingAlwaysPic">
                        <a href="javascript:;" @click="showTip()" class="weui-btn weui-btn_mini weui-btn_warn" v-if="SettingHitBtn">提示</a>
                    </template>
                    <div class="img" v-if="SettingAlwaysPic || isShow">
                        <img :src="'/img/numemo/pic-'+num1+'.jpg'" :alt="num1">
                        <img :src="'/img/numemo/pic-'+num2+'.jpg'" :alt="num2">
                    </div>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class="weui-cells__title">填数 看图 造句</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">数字</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入一个数字" v-model="inputNum"/>
                        </div>
                    </div>
                    <div class="img">
                        <template v-if="inputImgs.length>0" v-for="imgNo in inputImgs">
                            <img :src="'/img/numemo/pic-'+imgNo+'.jpg'" :alt="imgNo">
                        </template>
                    </div>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class=weui-cells__title>设置</div>
                <div class="weui-cell"@click="settingCountPicker()" >
                    <div class="weui-cell__bd"><p>设置组词数量</p></div>
                    <div class="weui-cell__ft" id="settingCountPicker">{{SettingCount}}</div>
                </div>
                <div class=weui-cells__title>开关组</div>
                <div class="weui-cells weui-cells_radio">
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">图片/文字</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingIsPic"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">一直显示图片</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingAlwaysPic"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">显示提示按钮</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingHitBtn"/>
                        </div>
                    </div>
                </div>
                <div class="weui-cells__title">所有功能</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/numemo/">
                        <div class="weui-cell__bd">
                            <p>数字记忆</p>
                        </div>
                        <div class="weui-cell__ft">numemo</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/numemo/word">
                        <div class="weui-cell__bd">
                            <p>组词</p>
                        </div>
                        <div class="weui-cell__ft">word</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var TRUE = 1,FALSE = 0;
    var currNum = 0;
    var historyCache = [];
    var app = new Vue({
        el: '#app',
        data: {
            num: '100',
            history: [],
            isShow: false,
            num1: '11',
            num2: '12',
            inputNum: Math.ceil(Math.random()*10000000),
            SettingCount: 3,
            SettingIsPic: true,
            SettingAlwaysPic: false,
            SettingHitBtn: false
        },
        mounted: function () {
            this.loadConfig();
            this.initWeui();
        },
        methods: {
            initWeui: function () {
                var tabIndex = localStorage.getItem("tabIndex");
                weui.tab('#tab', {
                    defaultIndex: tabIndex ? tabIndex : 0,
                    onChange: function (index) {
                        localStorage.setItem("tabIndex", index);
                    }
                });
            },
            loadConfig: function () {
                this.getStorageConfig("SettingCount", "int", 2);
                this.getStorageConfig("SettingIsPic");
                this.getStorageConfig("SettingAlwaysPic");
                this.getStorageConfig("SettingHitBtn");
            },
            /**
             *
             * @param storageKey
             * @param type
             * @param defaultValue
             */
            getStorageConfig: function (storageKey , type, defaultValue) {
                var storageValue = localStorage.getItem(storageKey);
                if(type === undefined || type === "boolean"){
                    this[storageKey] = storageValue && parseInt(storageValue) === TRUE ? true : false;
                } else if(type === "int"){
                    this[storageKey] = storageValue ? parseInt(storageValue) : defaultValue;
                } else {
                    console.warn("formatConfig() use in  worng way");
                }
            },
            getNextNum: function () {
                if (this.isShow) {
                    this.isShow = false;
                }
                currNum = this._random();
                this.history = historyCache;
                historyCache.unshift(currNum);
                this.num = currNum;
            },
            showImg: function (item) {
                this.num = item;
                this.isShow = true;
            },
            showTip: function () {
                this.isShow = !this.isShow;
            },
            _random: function () {
                return Math.ceil(Math.random() * 100);
            },
            getNext2Num: function () {
                this.num1 = this._random();
                this.num2 = this._random();
            },
            settingCountPicker: function () {
                var that = this;
                weui.picker([{label:'1',value:1},{label:'2',value:2},{label:'3',value:3},{label:'4',value:4},{label:'5',value:5}], {
                    className: 'custom-classname',
                    container: 'body',
                    defaultValue: [2],
                    onChange: function (result) {
                        that.SettingCount = result[0].value;
                    },
                    onConfirm: function (result) {
                        localStorage.setItem("SettingCount",result[0].value);
                    },
                    id: 'settingCountPicker'
                });
            }
        },
        computed: {
            inputImgs: function () {
                var ret = [];
                var input = this.inputNum;
                if (input === "") {
                    return ret;
                }
                for (var i = 0, j = 0; i < input.length; i = i + 2, j++) {
                    var end = input.length < i + 2 ? input.length : i + 2;
                    //console.log("'%s'.substring(%d, %d)=%s", input, i, end, input.substring(i, end));
                    ret[j] = input.substring(i, end);
                }
                return ret;
            }
        },
        watch: {
            SettingCount: function () {
                localStorage.setItem("SettingCount",this.SettingCount);
            },
            SettingIsPic: function () {
                localStorage.setItem("SettingIsPic",this.SettingIsPic ? TRUE : FALSE);
            },
            SettingAlwaysPic: function () {
                localStorage.setItem("SettingAlwaysPic",this.SettingAlwaysPic ? TRUE : FALSE);
            },
            SettingHitBtn: function () {
                localStorage.setItem("SettingHitBtn",this.SettingHitBtn ? TRUE : FALSE);
            },
        }
    });
</script>
</body>
</html>