<!DOCTYPE html>
<head>
    <link href="/css/weui.min.css" rel="stylesheet">
    <script src="/js/weui.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">组词</div>
            <div class="weui-navbar__item">设置</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                <div class=weui-cells__title></div>
                <div class="header" style="display: block;">
                    <template v-for="word in words">
                        <a href="javascript:;" @click="getNextWords()" class="weui-btn weui-btn_default" style="font-size: 64px">{{word.content}}</a>
                    </template>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class=weui-cells__title>设置</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">组词数量</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" pattern="[0-9]{1}" placeholder="请输入一个数字" v-model="wordCount"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var historyCache = [];
    var app = new Vue({
        el: '#app',
        data: {
            words: [],
            wordCount: 2
        },
        mounted: function () {
            this.loadData();
        },
        methods: {
            loadData: function () {
                this.$http.get("/numemo/words/"+this.wordCount).then(function (response) {
                    var res = response.data;
                    this.words = res;
                });
            },
            getNextWords: function () {
                this.loadData();
            }
        }
    })
    var tabIndex = localStorage.getItem("wordTabIndex");
    weui.tab('#tab', {
        defaultIndex: tabIndex ? tabIndex : 0,
        onChange: function (index) {
            localStorage.setItem("wordTabIndex", index);
        }
    });

</script>
</body>
</html>