<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>组词</title>
    <link href="/css/weui.min.css" rel="stylesheet">
    <script src="/js/weui.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">组词</div>
            <div class="weui-navbar__item">设置</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                <div class="weui-cells__title">
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" @click="submitSentence()">提交答案</a>
                </div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入本题您的答案" v-model="inputWordSentence"/>
                        </div>
                    </div>
                </div>

                <div class=weui-cells__title></div>
                <div class="header" style="display: block;">
                    <template v-for="word in words">
                        <a href="javascript:;" @click="getNextWords()" class="weui-btn weui-btn_default" style="font-size: 64px">{{word.content}}</a>
                    </template>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class=weui-cells__title>设置</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label">组词数量</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" pattern="[0-9]{1}" placeholder="请输入一个数字" v-model="wordCount"/>
                        </div>
                    </div>
                </div>

                <div class="weui-cells__title">所有功能</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/numemo/">
                        <div class="weui-cell__bd">
                            <p>数字记忆</p>
                        </div>
                        <div class="weui-cell__ft">numemo</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/numemo/word">
                        <div class="weui-cell__bd">
                            <p>组词</p>
                        </div>
                        <div class="weui-cell__ft">word</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var historyCache = [];
    var app = new Vue({
        el: '#app',
        data: {
            words: [],
            wordCount: 2,
            inputWordSentence: "",
            wordIds: ""

        },
        mounted: function () {
            this.loadData();
        },
        methods: {
            loadData: function () {
                this.$http.get("/numemo/words/"+this.wordCount).then(function (response) {
                    var res = response.data;
                    this.words = res;
                    var words = "";
                    res.forEach(function (item,index,input) {
                        words = words + (index === 0 ? item.id : "-"+item.id);
                    });
                    this.wordIds = words;
                    console.log(words)
                });
            },
            getNextWords: function () {
                this.loadData();
            },
            submitSentence: function () {
                this.$http.post("/numemo/wordsSentenceSave?wordIds="+this.wordIds+"&content="+this.inputWordSentence).then(function (response) {
                    var res = response.data;
                    if(res.error){
                        weui.alert(res.error);
                    } else {
                        weui.alert('操作成功');
                        this.inputWordSentence = "";
                        this.getNextWords();
                    }
                });
            }
        }
    })
    var tabIndex = localStorage.getItem("wordTabIndex");
    weui.tab('#tab', {
        defaultIndex: tabIndex ? tabIndex : 0,
        onChange: function (index) {
            localStorage.setItem("wordTabIndex", index);
        }
    });

</script>
</body>
</html>