<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>组词</title>
    <link href="/css/weui.min.css" rel="stylesheet">
    <script src="/js/weui.min.js"></script>
    <script src="/js/vue2.min.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <script src="/js/underscore.js"></script>
</head>
<body>
<div id="app">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">组词</div>
            <div class="weui-navbar__item">案例</div>
            <div class="weui-navbar__item">设置</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                <div class="weui-cells__title">
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" @click="submitSentence()">提交答案</a>
                </div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="请输入本题您的答案" v-model="inputWordSentence"/>
                        </div>
                    </div>
                </div>

                <div class=weui-cells__title></div>
                <div class="header" style="display: block;">
                    <template v-for="word in words">
                        <a href="javascript:;" @click="getNextWords()" class="weui-btn weui-btn_default" style="font-size: 64px">{{word.content}}</a>
                    </template>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" placeholder="搜索" required="" v-model="searchKey">
                            <a href="javascript:" class="weui-icon-clear" @click="searchCancel()"></a>
                        </div>
                        <label class="weui-search-bar__label">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" @click="searchCancel()">取消</a>
                </div>
                <template v-for="item in wordSentences">
                    <div class="weui-cells__title">{{item.wordIds}}</div>
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access"  href="javascript:;">
                            <div class="weui-cell__bd">
                                <p>{{item.content}}</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </template>
            </div>
            <div class="weui-tab__content">
                <div class=weui-cells__title>设置</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell" @click="wordPicker()" >
                        <div class="weui-cell__hd">
                            <label class="weui-label">词语数量</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="wordCountPicker" v-model="wordCount">
                        </div>
                    </div>
                </div>

                <div class="weui-cells__title">
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" @click="submitWords()">批量添加词汇</a>
                </div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea class="weui-textarea" placeholder="请输入文本，用'空格'、'逗号'、'换行'、'、'分开" rows="3" v-model="inputWords"></textarea>
                            <div class="weui-textarea-counter"><span>0</span>/200</div>
                        </div>
                    </div>
                </div>

                <div class="weui-cells__title">所有功能</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/numemo/">
                        <div class="weui-cell__bd">
                            <p>数字记忆</p>
                        </div>
                        <div class="weui-cell__ft">numemo</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/numemo/word">
                        <div class="weui-cell__bd">
                            <p>组词</p>
                        </div>
                        <div class="weui-cell__ft">word</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var historyCache = [];
    var app = new Vue({
        el: '#app',
        data: {
            words: [],
            wordCount: 2,
            wordSentences: [], // 后端获取的句子数据，用于展示
            inputWordSentence: "", // 组词页面，用户提交的答案
            wordIds: "", // 组词页面，用于提交答案和句子关联
            inputWords: "", // 设置页面，用户批量添加的词语
            searchKey: "",
        },
        mounted: function () {
            var that = this;
            var wordCount = localStorage.getItem("wordCount");
            this.wordCount = wordCount ? 2 : parseInt(wordCount);

            var tabIndex = localStorage.getItem("wordTabIndex");
            if(tabIndex){
                tabIndex = parseInt(tabIndex)
            }
            this.onTabChange(that,tabIndex);
            weui.tab('#tab', {
                defaultIndex: tabIndex ? tabIndex : 0,
                onChange: function (index) {
                    localStorage.setItem("wordTabIndex", index);
                    // todo 通过watch将用户的参数保存下来
                    that.onTabChange(that, index);
                }
            });
            weui.searchBar('#searchBar');
        },
        methods: {
            loadData: function () {
                this.$http.get("/numemo/words/"+this.wordCount).then(function (response) {
                    var res = response.data;
                    this.words = res;
                    var words = "";
                    res.forEach(function (item,index,input) {
                        words = words + (index === 0 ? item.id : "-"+item.id);
                    });
                    this.wordIds = words;
                    console.log(words)
                });
            },
            onTabChange: function (that,tabIndex) {
                switch (tabIndex) {
                    case 0: this.loadData(); break;
                    case 1 : that.loadWordsSentenceList(); break;
                    default: ;
                }
            },
            loadWordsSentenceList: function () {
                this.$http.get("/numemo/wordsSentenceList/"+this.searchKey).then(function (response) {
                    var res = response.data;
                    this.wordSentences = res;
                });
            },
            getNextWords: function () {
                this.loadData();
            },
            submitSentence: function () {
                this.$http.post("/numemo/wordsSentenceSave?wordIds="+this.wordIds+"&content="+this.inputWordSentence).then(function (response) {
                    var res = response.data;
                    if(res.error){
                        weui.alert(res.error);
                    } else {
                        weui.alert('操作成功');
                        this.inputWordSentence = "";
                        this.getNextWords();
                    }
                });
            },
            submitWords: function () {
                this.$http.post("/numemo/wordsSave/"+this.inputWords).then(function (response) {
                    var res = response.data;
                    if(res.error){
                        weui.alert(res.error);
                    } else {
                        weui.alert('操作成功');
                        this.inputWordSentence = "";
                        this.getNextWords();
                    }
                });
            },
            searchCancel: function () {
                this.searchKey = "";
            },
            searchAction: _.debounce(function () {
                setTimeout(function () {
                    this.loadWordsSentenceList()
                }.bind(this), 500)
            }, 250),
            wordPicker: function () {
                var that = this;
                weui.picker([{label:'1',value:1},{label:'2',value:2},{label:'3',value:3},{label:'4',value:4},{label:'5',value:5}], {
                    className: 'custom-classname',
                    container: 'body',
                    defaultValue: [2],
                    onChange: function (result) {
                        that.wordCount = result[0].value;
                    },
                    onConfirm: function (result) {
                        localStorage.setItem("wordCount",result[0].value);
                    },
                    id: 'wordCountPicker'
                });
            }
        },
        watch: {
            searchKey: function () {
                this.searchAction();
            }
        },
    });

</script>
</body>
</html>