<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>数字记忆</title>
    <link href="/css/weui.min.css" rel="stylesheet">
    <script src="/js/weui.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.min.js"></script>
    <style>
        .block {display: block;}
        .num_font {font-size: 50px}
        .img_warp {display: inline;position: relative;z-index: 1;}
        .img_warp img {width: 110px;}
        .img_warp_text {position: absolute;z-index: 2;left: 30px;top: -3px;}
        .mgr {margin-right: 10px;}
    </style>
</head>
<body>
<div id="app">
    <div class="weui-tab" id="tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">记忆</div>
            <div class="weui-navbar__item">填数</div>
            <div class="weui-navbar__item">设置</div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                <div v-if="SettingShowAll">
                    <div class="img_warp" v-for="img in nums">
                        <img :src="'/img/numemo/pic-'+img.num+'.jpg'" :alt="img.name">
                        <div v-if="SettingShowTxt" class="img_warp_text">{{img.num + " "+ img.name}}</div>
                    </div>
                </div>
                <div v-else>
                    <div class="header block" >
                        <a href="javascript:;" @click="getNextNum()" class="weui-btn weui-btn_default num_font">
                            <div>
                                <div><span>{{ msg }}</span></div>
                                <div class="img_warp" v-if="SettingAlwaysPic || isShowTip">
                                    <img :src="'/img/numemo/pic-'+num+'.jpg'" :alt="num">
                                </div>
                            </div>
                        </a>
                        <template v-if="!SettingAlwaysPic">
                            <a href="javascript:;" @click="showTip()" class="weui-btn weui-btn_mini weui-btn_warn"
                               v-if="SettingHitBtn">提示</a>
                        </template>
                    </div>
                    <div class="history-num">
                        <template v-for="item,index in history">
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" @click="showImg(item)">{{item}}</a>
                            <template v-if="SettingNewLine && (index+1)%10===0"><br></template>
                        </template>
                    </div>
                </div>

            </div>
            <div class="weui-tab__content">
                <div class="weui-cells__title">填数 看图 造句</div>
                <div class="weui-cell">
                    <div class="weui-cell__hd" @click="nextInputNumb()"><span class="weui-btn weui-btn_mini weui-btn_default mgr">数字</span></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入一个数字"
                               v-model="inputNum"/>
                    </div>
                </div>
                <div class="img">
                    <template v-if="inputImgs.length>0" v-for="imgNo in inputImgs">
                        <div class="img_warp">
                            <img :src="'/img/numemo/pic-'+imgNo+'.jpg'" :alt="imgNo">
                            <p v-if="SettingShowTxt" class="img_warp_font">{{imgNo+" "+numsMap[imgNo]}}</p>
                        </div>
                    </template>
                </div>
            </div>
            <div class="weui-tab__content">
                <div class=weui-cells__title>设置</div>
                <div class="weui-cells weui-cells_radio">
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">部分/全部</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingShowAll"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">显示文字</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingShowTxt"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">显示图片</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingAlwaysPic"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">提示按钮</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingHitBtn"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__bd">是否换行</div>
                        <div class="weui-cell__ft">
                            <input class="weui-switch" type="checkbox" v-model:checked="SettingNewLine"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_switch">
                        <div class="weui-cell__hd"><label class="weui-label">填数默认数</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入数字：1-18" v-model="inputCount"/>
                        </div>
                    </div>
                </div>
                <div class="weui-cells__title">所有功能</div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="/">
                        <div class="weui-cell__bd">
                            <p>数字记忆</p>
                        </div>
                        <div class="weui-cell__ft">index</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="/word">
                        <div class="weui-cell__bd">
                            <p>组词</p>
                        </div>
                        <div class="weui-cell__ft">word</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var TRUE = 1, FALSE = 0;
    var currNum = 0;
    var historyCache = [];
    var app = new Vue({
        el: '#app',
        data: {
            num: Math.floor(Math.random()*100),  // 当前数字
            msg: '开始', // 显示的内容
            nums: [], // 数据库加载的数据
            numsMap: [], // 数据库加载的数据
            history: [],
            isShowTip: false, // 提示按钮
            inputNum: "",
            SettingCount: 3,
            SettingShowAll: false,
            SettingShowTxt: true,
            SettingAlwaysPic: false,
            SettingHitBtn: false,
            SettingNewLine: false,
            inputImgs: [],
            inputCount : 10,
        },
        mounted: function () {
            this.loadNums();
            this.loadConfig();
            this.initWeui();
        },
        methods: {
            initWeui: function () {
                var tabIndex = parseInt(localStorage.getItem("tabIndex") || 0);
                // 标签页函数绑定，用于启动默认函数功能
                if (tabIndex === 1) {
                    this.nextInputNumb();
                }
                weui.tab('#tab', {
                    defaultIndex: tabIndex,
                    onChange: function (index) {
                        localStorage.setItem("tabIndex", index);
                    }
                });
            },
            // 加载配置数据
            loadConfig: function () {
                this.getStorageConfig("SettingCount", "int", 2);
                this.getStorageConfig("inputCount", "int", 18);
                this.getStorageConfig("SettingShowTxt");
                this.getStorageConfig("SettingAlwaysPic");
                this.getStorageConfig("SettingHitBtn");
                this.getStorageConfig("SettingNewLine");
                this.getStorageConfig("SettingShowAll");
            },
            // 初始化数据库中num资源
            loadNums: function () {
                this.$http.get("/nums").then(function (response) {
                    var data = response.data;
                    this.nums = data;
                    var map = {};
                    for(var i=0;i<data.length;i++){
                        var item = data[i];
                        map[item.num] = item.name;
                    }
                    this.numsMap = map;
                });
            },
            /**
             * 获取配置文件值
             * @param storageKey 保存的key
             * @param type 保存的类型(非布尔类型需申明)
             * @param defaultValue 默认值(非布尔类型的默认值)
             */
            getStorageConfig: function (storageKey, type, defaultValue) {
                var storageValue = localStorage.getItem(storageKey);
                if (type === undefined || type === "boolean") {
                    this[storageKey] = storageValue && parseInt(storageValue) === TRUE ? true : false;
                } else if (type === "int") {
                    this[storageKey] = storageValue ? parseInt(storageValue) : defaultValue;
                } else {
                    console.warn("formatConfig() use in  worng way");
                }
            },
            // @主界面主按钮
            getNextNum: function () {
                if (this.isShowTip) {
                    this.isShowTip = false;
                }
                currNum = Math.floor(Math.random() * 100);
                this.history = historyCache;
                historyCache.unshift(currNum);
                this.num = currNum;
            },
            // @历史列表按钮
            showImg: function (item) {
                this.num = item;
                this.isShowTip = true;
            },
            // @提示按钮
            showTip: function () {
                this.isShowTip = !this.isShowTip;
            },
            // 选取数字
            settingCountPicker: function () {
                var that = this;
                weui.picker([{label: '1', value: 1}, {label: '2', value: 2},
                    {label: '3', value: 3}, {label: '4', value: 4}, {label: '5', value: 5}], {
                    container: 'body',
                    defaultValue: [2],
                    onChange: function (result) {
                        that.SettingCount = result[0].value;
                    },
                    onConfirm: function (result) {
                        localStorage.setItem("SettingCount", result[0].value);
                    },
                    id: 'settingCountPicker'
                });
            },
            // @填数字界面的下一个
            nextInputNumb: function () {
                this.inputNum = Math.floor(Math.random() * Math.pow(10,this.inputCount));
                setTimeout(this.inputImgsFormat,100);
            },
            inputImgsFormat : function () {
                var ret = [];
                var input = this.inputNum + "";
                if (input === "") {
                    return ret;
                }
                for (var i = 0, j = 0; i < input.length; i = i + 2, j++) {
                    var end = input.length < i + 2 ? input.length : i + 2;
                    ret[j] = input.substring(i, end);
                }
                this.inputImgs = ret;
            }
        },
        watch: {
            num: function () {
                this.msg = this.SettingShowTxt ? (this.num + " " + this.nums[this.num]['name']) : this.num;
            },
            inputNum: function (newValue, oldValue) {
                if(/\./.test(newValue)){
                    this.inputNum = newValue.replace(".","");
                }
                this.inputImgsFormat();
            },
            SettingCount: function () {
                localStorage.setItem("SettingCount", this.SettingCount);
            },
            inputCount: function (newValue, oldValue) {
                this.inputCount = newValue >= 18 ? 18 : newValue;
                localStorage.setItem("inputCount", this.inputCount);
            },
            SettingShowTxt: function () {
                localStorage.setItem("SettingShowTxt", this.SettingShowTxt ? TRUE : FALSE);
            },
            SettingAlwaysPic: function () {
                localStorage.setItem("SettingAlwaysPic", this.SettingAlwaysPic ? TRUE : FALSE);
            },
            SettingHitBtn: function () {
                localStorage.setItem("SettingHitBtn", this.SettingHitBtn ? TRUE : FALSE);
            },
            SettingNewLine: function () {
                localStorage.setItem("SettingNewLine", this.SettingNewLine ? TRUE : FALSE);
            },
            SettingShowAll: function () {
                localStorage.setItem("SettingShowAll", this.SettingShowAll ? TRUE : FALSE);
            },
        }
    });
</script>
</body>
</html>